@font-face {
  font-family: "Anton";
  src: url("/fonts/Anton-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Red Hat Display";
  src: url("/fonts/RedHatDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Red Hat Display";
  src: url("/fonts/RedHatDisplay-Bold.ttf") format("truetype");
  font-weight:600;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("/fonts/RedHatDisplay-Light.ttf") format("truetype");
  font-weight:300;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color:#1A1A24;
  --translate-filters-slider: 0;
  --filters-wrapper-opacity: 1;
  --font-title: 'Anton', sans-serif;
  --font-text: 'Red hat display', sans-serif;
  --round-button-active-color: #fff;
  --translate-main-slider: 0%;
  --main-slider-color: #1a1a24;
}

body {
  font-family: var(--font-text);
}

a {
  color: #37b3ed;
  text-decoration:none;
}

a:hover {
  color: #a1f7fa;
  text-decoration: none;
}

section {
  padding: 90px 0;
  overflow: hidden;
}

.section-bg {
  /*background: #f7f8ff;*/
  background: url("../img/hero-bg4.jpg") top center;
}

.section-title {
  margin-bottom: 60px;
}

.section-title h2 {
  font-family: var(--font-title);
  font-size: 70px;
  font-weight: 600;
  position: relative;
  color: var(--main-color);
  width:100%;
  display:inline;
}

.title-right {
  text-align:end;
  margin-right:-100px;
}
.title-left {
  margin-left:-100px;
}

.shadowp {
  box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,.15)!important;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

.scroll, #graph .nav-link, #web .nav-link, #graph #main-menu .navbar-toggler-icon svg, #web #main-menu .navbar-toggler-icon svg {
  color: var(--main-color) !important;
}

/*#graph #main-menu, #web #main-menu {
  top:15px;
  left:15px;
}*/

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  right: 25px;
  bottom: 25px;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top img {
  width: 60px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 4px 6px 32px rgb(194 172 255 / 48%);
}

.back-to-top img:hover {
  animation: bounce 0.6s infinite;
}

@keyframes bounce {
  from {
    bottom: 0px;
  }

  50% {
    bottom: 5px;
  }

  to {
    bottom: 0px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
#main-menu {
  position: absolute;
  top:130px;
  left:90px;
  z-index: 999;
  padding:0;
}
#main-menu .navbar-toggler {
  font-size:1.5rem;
  padding:0;
}
#main-menu .navbar-toggler-icon svg {
  color:white;
}
#main-menu a {
  color:#fff;
  font-size: 14px;
  font-weight:600;
  font-family: var(--font-text);
  letter-spacing: 1px;
  padding:3px 0;
}
#main-menu ul {
  flex-direction:column;
}
#main-menu .dropdown-menu {
  width:120px;
  min-width:unset;
  padding:10px;
  border:none;
  box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 20%);
}
#main-menu .dropdown-menu a {
  color:#000;
}
#web #main-menu, #graph #main-menu {
  position:relative;
  top:60px;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bgmini.jpg") top center;
  background-size: cover;
  padding: 90px 45px;
}

#hero:before {
  content: "";
  background: rgba(0, 1, 130, 0.2);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero-social {
  top:130px;
  right:90px;
  z-index:3;
}
#hero-social i {
  color:#fff;
  font-size:24px;
  margin-bottom:18px;
}

#hero-cadre {
  width:100%;
  height:100%;
  border: 1.5px solid white;
  border-radius:25px;
  z-index:2;
  display: flex;
  align-items: end;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
  padding: 15px 38px;
}

#hero h1 {
  font-size: 150px;
  color: #fff;
  font-family: var(--font-title);
  line-height:1.1;
  margin-bottom:-1rem;
}

#hero p {
  margin:0;
}

#hero p span {
  font-family: var(--font-title);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color:transparent;
  font-size:100px;
}

#cta-hero {
  z-index: 1;
  bottom: 10px;
}

#cta-hero a {
  color: white;
  letter-spacing: 3px;
}

#cta-hero i {
  font-size: 2rem;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
  padding-bottom:60px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #a1f7fa;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .section-content>div>div:first-child {
  width:28%;
}
.about .section-content>div>div:first-child img {
  width:100%;
}
.about .section-content>div>div:first-child p {
  margin-bottom:2px;
}

.about .section-content>div>div:nth-child(2) {
  width:72%;
  padding-left:105px;
  text-align:justify;
}
.about .section-content>div>div:nth-child(2) p {
  margin-bottom:2em;
}

#btn-CV {
  background-color: var(--main-color);
  color: white;
  border: 0;
  border-radius: 50px;
  padding: 0.8em 1em;
}

#btn-CV:hover {
  background: url('../img/bg-button.jpg');
  background-size:cover;
  text-shadow: 0px 2px 2px #9E9E9E;
}

/*--------------------------------------------------------------
# Compétences
--------------------------------------------------------------*/
#skills {
  padding-top:0;
}

#skills .section-title h2 {
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: var(--main-color);
  color:transparent;
}

#skills button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

#skills ul.filter-tabs {
  list-style-type: none;
  display: flex;
}

#skills .filters-container {
  padding: 0 3rem;
  transition: max-height 0.4s ease-in-out;
  max-height: 100px;
  width:800px;
  margin:0 auto;
  margin-bottom:45px;
}

#skills .filters-wrapper {
  position: relative;
  transition: opacity 0.2s ease-in-out;
  opacity: var(--filters-wrapper-opacity);
  box-shadow: 0px 0px 1px 0px rgb(26 26 36 / 15%), 0px 3px 2px 0px rgb(26 26 36 / 15%);
  border-radius: 150px;
}

#skills .filter-tabs {
  border-radius: 1rem;
  overflow: hidden;
  margin:0;
  padding:0;
}

#skills .filter-tabs li {
  position: relative;
  z-index: 1;
  display: flex;
  flex: 1 0 25%;
}

#skills .filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  flex-grow: 1;
  padding: 0 0.5rem;
  color: var(--main-color);
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 28px;
}

#skills .filter-button.filter-active {
  transition: color 0.4s ease-in-out;
  background-image: url('../img/cat1.jpg');
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-weight:500;
}

#skills .filter-slider {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

#skills .filter-slider-rect {
  height: 42px;
  width: 25%;
  border-radius: 150px;
  background-color: var(--main-color);
  box-shadow: 0 0.1rem 1rem -0.4rem rgba(0, 0, 0, 0.12);
  transition: transform 0.4s ease-in-out;
  transform: translateX(var(--translate-filters-slider));
}

#skills .carouselSkills .skill-bloc {
  justify-content:space-evenly;
}
#skills .carouselSkills .skill-bloc .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#skills .carouselSkills img {
  width:96px;
  margin-bottom:0.5em;
  /*margin:0 2em;*/
}
#skills .carouselSkills p {
  font-weight:600;
  text-align:center;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
#portfolio {
  background-image: url('../img/tv-bg.jpg');
  background-position: top -250px right 0px;
}

#portfolio .section-title h2 {
  color:#fff;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: white;
}

#portfolio .section-title h2::before {
  content: "Portfolio";
  position: absolute;
  color:transparent;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: white;
  right:-105%;
}

.portfolio-cat {
  width:500px;
  height:260px;
  padding:3em;
  margin-bottom:2em;
  position:relative;
  flex-direction:column;
  justify-content:space-between;
  border-radius:25px;
}

.portfolio-cat:hover {
  box-shadow: 4px 6px 32px rgb(194 172 255 / 48%);
}

.portfolio-cat div {
  z-index:11;
}

.portfolio-cat>div:nth-child(2) p {
  text-align:end;
  border-bottom:1px solid var(--main-color);
}

.portfolio-cat h4, .portfolio-cat p {
  color:var(--main-color);
  margin-bottom:0;
  text-shadow: 0px 1px 1px #9e9e9e;
}

.portfolio-cat h4 {
  font-family: var(--font-title);
  font-size:48px;
}

#portfolio-web {
  background: url('../img/cat1.jpg');
  background-size:cover;
}

#portfolio-graphique {
  background: url('../img/cat2.jpg');
  background-size:cover;
}

#creaGraphique .owl-carousel:nth-child(3) .owl-dots {
  display:none;
}

.portfoElement {
  padding-top: 90px;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #040514;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #a1f7fa;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  background: rgba(161, 247, 250, 0.75);
  transition: 0.3s;
  width: 50%;
  text-shadow: 0px 2px 2px #9E9E9E;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: url('../img/bg-button.jpg');
}

.portfolio .portfolio-wrap .portfolio-links a+a {
  border-left: 1px solid #a1f7fa;
}

.portfolio .portfolio-text {
  height: 200px;
  background-color: white;
  padding: 1rem 1.25rem 1rem;
}

.portfolio .portfolio-text h3 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.portfolio .portfolio-text h3 a {
  color: #040514;
  border-bottom: solid 1px transparent;
}

.portfolio .img-overlay {
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.portfolio .portfolio-wrap:hover .img-overlay {
  opacity: 1;
  transition: all ease-in-out 0.3s;
}

.portfolio .img-overlay i {
  color: #fff;
  font-size: 3em;
}

/* experience et formation */
#exp-formation .section-title h2::before {
  content: "Parcours";
  position: absolute;
  color:transparent;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: var(--main-color);
  left:-105%;
}

div.amazing-tabs::before, div.amazing-tabs::after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  top: 55px;
  width: 20%;
  background-color: #e8e8e8;
  z-index: 1;
}
div.amazing-tabs::before {
  left: 1px;
}
div.amazing-tabs::after {
  right:1px;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

div.amazing-tabs {
  border-radius: 2.5rem;
  user-select: none;
  z-index:10;
  padding:0 12px;
  justify-content:center;
  display:flex;
  position:relative;
  margin-bottom:45px;
}

.main-tabs-container {
  padding: 0 15px;
}

.main-tabs-wrapper {
  position: relative;
}

ul.main-tabs {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

ul.main-tabs li {
  display: inline-flex;
  position: relative;
  padding: 15px;
  z-index: 1;
}

.round-button {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #1a1a24;
  transition: color 0.2s ease-in-out;
  background-color:transparent;
  border:1px solid #1a1a24;
  font-family:'anton', sans-serif;
  font-size:24px;
}

.round-button.active {
  color: var(--round-button-active-color);
}

.main-slider {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  z-index: 0;
  transition: transform 0.4s ease-in-out;
  transform: translateX(var(--translate-main-slider));
}

.main-slider-circle {
  height:80px;
  width: 80px;
  border-radius: 50%;
  transition: background-color 0.4s ease-in-out;
  background-color: var(--main-slider-color);
  opacity:1;
}

.animate-jello {
  animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.timeline__header .timeline__timeframe {
  font-size: 1.2rem;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: .15rem;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: .9rem;
}

.timeline__header h3 {
  line-height: 1.25;
  margin: 0 0 .3rem 0;
  font-weight: 600;
  font-size: 1.3rem;
}

.timeline__header h5 {
  margin-top: 0;
  font-size: 1.2rem;
}

.timeline__desc ul {
  margin: 0;
  padding-bottom: 3rem;
}

#exp-formation .imgExp {
  width:200px;
}

#exp-formation .exp-bloc {
  align-items:center;
  justify-content:space-evenly;
}

#exp-formation .timeline__desc ul {
  padding-bottom:0;
}

#exp-formation .nav-parcours {
  justify-content:space-between;
  margin-bottom:50px;
  position:relative;
}

#exp-formation .nav-parcours:before {
  content:"";
  position:absolute;
  display:block;
  height:2px;
  top:39px;
  left:1px;
  right:1px;
  width:auto;
  background-color:#e8e8e8;
  z-index:1;
}

#exp-formation .nav-parcours>a {
  background-color:#040514;
  width:80px;
  height:80px;
  justify-content:center;
  align-items:center;
  border-radius:150px;
  z-index:10;
}

#exp-formation .nav-parcours>div:hover {
  background: url(../img/bg-socials.jpg);
}

#exp-formation .button-url {
  color:white;
  margin-bottom:0;
}

/* contact */
#contact .section-title h2::before {
  content: "Contact";
  position: absolute;
  color:transparent;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: var(--main-color);
  right:-105%;
}

.contact h3 {
  font-family:var(--font-title);
}
.contact h3.contact-tel {
  font-size:64px;
}
.contact h3.contact-mail {
  font-size:34px;
}

.contact .social-links {
  margin-bottom:3.5em;
}

.contact .social-links a {
  font-size: 42px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 119px;
  height: 119px;
  transition: 0.3s;
  display:flex;
  align-items:center;
  justify-content:center;
}

.contact .social-links a:hover {
  background: url("../img/bg-socials.jpg");
  color: #fff;
  text-shadow: 0px 2px 2px #9E9E9E;
  text-decoration: none;
}

.contact .footer {
  display:flex;
  justify-content:space-between;
  align-items:center;
  border:1px solid var(--main-color);
  border-left:none;
  border-radius:0 15px 15px 0;
  padding:8px 10px;
}
.contact .footer p {
  margin-bottom:0;
}

#main > .portfoElement:nth-child(even) {
  background: url('../img/hero-bg4.jpg');
  background-size: cover;
}

/* portfolio page */
.breadcrumbs {
  padding: 0;
}
.portfolio-details {
  padding-top: 0;
}

.portfolio-details .portfolio-details-container {
  position: relative;
}

.portfolio-details .portfolio-details-carousel {
  position: relative;
  z-index: 1;
}

.portfolio-details .carousel-head {
  margin-bottom: 20px;
}

.portfolio-details .galerie div {
  margin-bottom: 20px;
}

.portfolio-details .portfolio-details-carousel .owl-nav,
.portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #a1f7fa !important;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  right: 0;
  bottom: -70px;
  background: #fff;
  z-index: 2;
  height: 100%;
}

#bidrasil .portfolio-details .portfolio-info {
  height:auto;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 50px;
}

.portfolio-details .portfolio-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

.portfolio-details .owl-stage-outer {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.portfolio-description h3 {
  margin-bottom: 40px;
  line-height: 18px;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #040514;
  line-height: 1;
}

.portfolio-description h4 {
  margin-bottom: 20px;
  line-height: 18px;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #040514;
  ;
}

.portfolio-description p {
  margin-bottom: 30px;
}

/* CAROUSEL */

.owl-stage {
  width: 10000px !important;
}

.portfolio-details .owl-stage-outer {
  box-shadow: none !important;
}

/* RESPONSIVE */
@media (max-width: 1400px) {
  #web #main-menu, #graph #main-menu {
    left:2em;
  }

  #hero h1 {
    font-size:130px;
  }

  #hero p span {
    font-size:80px;
  }

  .title-right {
    margin-right:0;
  }
  .title-left {
    margin-left:0;
  }
}

@media (max-width: 1200px) {
  #main {
    margin-left: 0;
  }

  #hero h1 {
    font-size:100px;
    margin-bottom:0;
  }

  #hero p span {
    font-size:50px;
  }

  .title-right {
    text-align:start;
  }

  #skills .section-title h2 {
    -webkit-text-stroke-width: 1px;
  }
  .skills .skills-bloc>div {
    width:33%;
  }

  #portfolio .section-title h2 {
    -webkit-text-stroke-width: 0px;
  }
  #portfolio .section-title h2::before {
    content:"";
  }
  #portfolio .portfo-bloc {
    flex-direction:column;
  }

  #portfolio .portfo-bloc {
    align-items:center;
  }

  #exp-formation .section-title h2::before {
    content:'';
  }
  div.amazing-tabs::before, div.amazing-tabs::after {
    width:15%;
  }

  #contact .section-title h2::before {
    content:'';
  }
}

@media (max-width: 1024px) {
  .about .section-content>div>div:nth-child(2) {
    width: 80%;
    padding-left: 15px;
  }

  #skills .filters-container {
    padding: 0;
    width:auto;
  }

  div.amazing-tabs::before, div.amazing-tabs::after {
    height:0;
  }
  #exp-formation .exp-bloc>div {
    padding:0 0 0 45px;
    margin-bottom:1.5rem;
  }
}

@media (max-width: 768px) {
  #hero .hero-container {
    padding:28px 38px;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero p span {
    letter-spacing: 0;
    font-size: 1.3rem;
  }

  .section-title h2 {
    font-size:50px;
  }

  .timeline__block {
    padding-left: 4rem !important;
  }

  #about .section-content>div {
    flex-direction:column;
    width:100%;
    margin-bottom:1em;
  }

  .about .section-content>div>div:first-child {
    width:100%;
    margin-bottom:1em;
  }
  .about .section-content>div>div:nth-child(2) {
    width:100%;
    padding-left:0;
  }

  .about .section-content>div>div:nth-child(2), #skills .filters-container {
    padding:0;
    width:auto;
  }

  #skills .filter-button {
    font-size:20px;
  }
  #skills .filter-slider-rect {
    height:30px;
  }
  .skill img {
    width: 35px !important;
  }
  #skills .carouselSkills .skill-bloc .skill p {
    font-size:14px;
  }

  .breadcrumbs .d-flex {
    display: block !important;
  }

  #portfolio .portfolio-cat, #portfolio .link-portfo {
    width:100%;
  }
  #portfolio .portfolio-cat h4 {
    font-size:46px;
  }

  .portfolio-details .portfolio-description h2 {
    width: 100%;
  }

  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }

  ul.main-tabs li, .main-slider {
    padding:5px;
  }
  .round-button, .main-slider-circle {
    width:65px;
    height:65px;
    font-size:22px;
  }
  div.amazing-tabs::before, div.amazing-tabs::after {
    height:0;
  }
  #exp-formation .exp-bloc>div {
    padding:0 30px;
  }
  #exp-formation .nav-parcours>a {
    width:50px;
    height:50px;
  }

  #exp-formation .nav-parcours:before {
    top:24px;
  }

  #exp-formation .exp-bloc {
    flex-direction:column;
  }

  #exp-formation .imgExp {
    margin-bottom:1em;
  }
}

@media (max-width: 575px) {
  #web #main-menu, #graph #main-menu {
    left:15px;
  }
}

@media (max-width: 500px) {
  #hero {
    padding:90px 25px;
  }

  #hero-social {
    right:63px;
  }
  #main-menu {
    left:63px;
  }

  #skills .filter-button {
    font-size: 12px;
  }
  #skills .filter-slider-rect {
    height: 18px;
  }
  #skills .carouselSkills .skill-bloc .skill p {
    font-size: 12px;
  }
  #skills .carouselSkills .skill-bloc {
    flex-wrap:wrap;
  }
  #skills .carouselSkills .skill-bloc .skill {
    width:30%;
  }
  
  #portfolio .section-title h2 {
    -webkit-text-stroke-width: 0px;
  }
  #portfolio .section-title h2::before {
    content:"";
  }
  #portfolio .portfolio-cat h4 {
    font-size:28px;
    margin-bottom:5px;
  }

  #exp-formation .section-title h2::before {
    content:'';
  }
  ul.main-tabs li, .main-slider {
    padding:5px;
  }
  .round-button, .main-slider-circle {
    width:45px;
    height:45px;
    font-size:20px;
  }

  .contact h3.contact-tel {
    font-size:45px;
  }
  .contact h3.contact-mail {
    font-size:24px;
  }
}
